# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/GameApp/x64/Debug
/WLEngine/x64/Debug
/x64/Debug
/Run/GameApp_D64.exe
/.vs/WLEngine
/Lua/x64/Debug
/TinyXML/x64
/x64/Release
/Run/Lua_D.lib
/Run/TinyXML.lib
/Run/TinyXML_D.lib
/GameApp/x64/Release
/GameApp/x64/Release
/GameApp/x64/Release
/Lua/x64/Release
*.exe
*.lib
*.dll
/WLEngine/x64/Release
/WLEngine/AABBox.i
/WLEngine/ActorEntity.i
/WLEngine/AllocationHeader.i
/WLEngine/AllocatorLabels.i
/WLEngine/AnimationComponent.i
/WLEngine/AtomicNode.i
/WLEngine/AtomicQueue.i
/WLEngine/BaseAllocator.i
/WLEngine/BoundingSphere.i
/WLEngine/BucketAllocator.i
/WLEngine/CallBack.i
/WLEngine/CameraController.i
/WLEngine/CameraEntity.i
/WLEngine/Collision.i
/WLEngine/Component.i
/WLEngine/CustomRenderer.i
/WLEngine/DefaultAllocator.i
/WLEngine/DeferredLightRendererPass.i
/WLEngine/DeferredRenderer.i
/WLEngine/DeferredRendererPass.i
/WLEngine/DefMemory.i
/WLEngine/DelayedPointerDeletionManager.i
/WLEngine/DepthRendererPass.i
/WLEngine/Device.i
/WLEngine/DeviceBase.i
/WLEngine/DeviceContext.i
/WLEngine/dllmain.i
/WLEngine/DualThreadAllocator.i
/WLEngine/DX11Device.i
/WLEngine/DX11DeviceContext.i
/WLEngine/DX11GpuBuffer.i
/WLEngine/DX11Material.i
/WLEngine/DX11MaterialInstance.i
/WLEngine/DX11Mesh.i
/WLEngine/DX11OceanSimulator.i
/WLEngine/DX11RenderState.i
/WLEngine/DX11RenderStateMgr.i
/WLEngine/DX11Shader.i
/WLEngine/DX11ShaderInstance.i
/WLEngine/DX11SurfaceView.i
/WLEngine/DX11Texture.i
/WLEngine/DX11TextureArray.i
/WLEngine/DynamicHeapAllocator.i
/WLEngine/Effect.i
/WLEngine/Entity.i
/WLEngine/EntityMgr.i
/WLEngine/Font.i
/WLEngine/FontEngine.i
/WLEngine/Foundation.i
/WLEngine/FrontRenderer.i
/WLEngine/GameApp.i
/WLEngine/GameController.i
/WLEngine/GpuBuffer.i
/WLEngine/BucketAllocator.i
/WLEngine/GpuBufferBase.i
/WLEngine/GpuProfiler.i
/WLEngine/GraphicEngine.i
/WLEngine/GuiEngine.i
/WLEngine/GuiEntity.i
/WLEngine/GuiRenderer.i
/WLEngine/GuiRendererPass.i
/WLEngine/InputMgr.i
/WLEngine/Instance.i
/WLEngine/LightEngine.i
/WLEngine/LightEntity.i
/WLEngine/LightMeshRendererPass.i
/WLEngine/LightRenderer.i
/WLEngine/LogAssert.i
/WLEngine/LowLevelDefaultAllocator.i
/WLEngine/LuaBind.i
/WLEngine/Material.i
/WLEngine/MaterialBase.i
/WLEngine/MaterialInstance.i
/WLEngine/MaterialInstanceBase.i
/WLEngine/MathLib.i
/WLEngine/MathLibSSE.i
/WLEngine/Matrix.i
/WLEngine/MemoryHelper.i
/WLEngine/MemoryMgr.i
/WLEngine/MemoryProfiler.i
/WLEngine/Mesh.i
/WLEngine/MeshBase.i
/WLEngine/MeshInstance.i
/WLEngine/Model.i
/WLEngine/ModelInstance.i
/WLEngine/Mutex.i
/WLEngine/NoLightRendererPass.i
/WLEngine/OceanEntity.i
/WLEngine/OceanModelInstance.i
/WLEngine/OceanSimulator.i
/WLEngine/OceanSimulatorBase.i
/WLEngine/Plane.i
/WLEngine/PlatformMutex.i
/WLEngine/PlatformThread.i
/WLEngine/Quaternion.i
/WLEngine/Ray.i
/WLEngine/Refcount.i
/WLEngine/RenderChunk.i
/WLEngine/Renderer.i
/WLEngine/RendererPass.i
/WLEngine/RenderState.i
/WLEngine/RenderStateMgr.i
/WLEngine/RenderStateMgrBase.i
/WLEngine/ResourceFactory.i
/WLEngine/ResourceMgr.i
/WLEngine/Scene.i
/WLEngine/SceneController.i
/WLEngine/ScriptEngine.i
/WLEngine/ScriptEntity.i
/WLEngine/Shader.i
/WLEngine/ShaderBase.i
/WLEngine/ShaderInstance.i
/WLEngine/ShaderInstanceBase.i
/WLEngine/ShadowEffect.i
/WLEngine/ShadowMapRendererPass.i
/WLEngine/SkyBoxEntity.i
/WLEngine/SkyEntity.i
/WLEngine/SoftShadowRendererPass.i
/WLEngine/SoundEngine.i
/WLEngine/SoundEntity.i
/WLEngine/Sphere.i
/WLEngine/StackAllocator.i
/WLEngine/SurfaceView.i
/WLEngine/SurfaceViewBase.i
/WLEngine/TerrainEntity.i
/WLEngine/Texture.i
/WLEngine/TextureArray.i
/WLEngine/TextureBase.i
/WLEngine/Thread.i
/WLEngine/ThreadHelper.i
/WLEngine/ThreadsafeLinearAllocator.i
/WLEngine/TimerClock.i
/WLEngine/TimerEngine.i
/WLEngine/TLSAllocator.i
/WLEngine/Tlsf.i
/WLEngine/Transform.i
/WLEngine/TransparentRendererPass.i
/WLEngine/UIButton.i
/WLEngine/UIFactory.i
/WLEngine/UIImage.i
/WLEngine/UILabel.i
/WLEngine/UIWnd.i
/WLEngine/VertexFormat.i
/WLEngine/VoxelBrush.i
/WLEngine/VoxelChunk.i
/WLEngine/VoxelMgr.i
/WLEngine/VoxelTerrainBuild.i
/WLEngine/VoxelTerrainEditor.i
/WLEngine/Win.i
/WLEngine/WLEngine.i
/FontSDF/x64/Debug
/WLEngine/*.i
*.cppcheck
/FontSDF/x64/Release
